
<form method="post"   action="https://formspree.io/f/mpzbzwyn" class="w-10/12 md:w-full m-auto max-w-lg mb-20 inf-form" target="_blank">
<input type="email" name="email" class="hidden" />
<input type="hidden" name="key" 
value="eyJpdiI6Im1lUk1pR29Eb3ZjXC9WZzZnUVwvUVVhV25NcHg2b0JIeU0xbFNLR2haK3k3ND0iLCJ2YWx1ZSI6Ikd4QlllSkN0cDA2TEJQYjdPTHhxckRRcFlKRnVkNW1hNGVycmJrRWtuR0U9IiwibWFjIjoiOTk2NDU3MDMyNWY4ZmViMGRjYzk3OGU0N2Y0N2Q0ZDU3YTQ5NzI1MjlkZWNjNjUxY2EyNmUyYjk2ZTVhNTFlYSJ9" />
<input type="hidden" name="webform_id" value="11346"> <div class="inf-main_6a41574847522a3bd0eb4a9986c5e13c"> <h4></h4> <span></span> </div>
<div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        prénom
      </label>
      <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
       type="text" name="Prénom"  required="required" />
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
        Nom
      </label>
      <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200  py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"  
      type="text" name="Nom"  required="required" placeholder="Nom" />
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
    Adresse mail
      </label>
      <input  name="mail" required="required" 
      class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
       id="email" type="email" />
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        Message
      </label>
      <textarea name="message"  
      class=" no-resize appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none" 
      id="message"></textarea>
      <p class="text-sm text-gray-600">Votre adresse de messagerie est uniquement utilisée pour répondre à la demande envoyé dans le formulaire, les adresse de messagerie ne sont pas collectés dans ce formulaire</p>
      <div class="g-recaptcha" data-sitekey="6LdiookdAAAAADSzrKQDlFUbIP3SW55LE9LfVuh_"></div> <!-- replace with your recaptcha SITE key not secret key -->    </div>
  </div>
  <div class="md:flex md:items-center">

    <div class="md:w-1/3">
      <button class="mx-auto lg:mx-0  bg-liono-blue  font-bold text-white rounded-full  py-2 px-4 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" type="submit">Envoyer      </button>

    </div>
    <div class="md:w-2/3"></div>
  </div>
</form>