<nav class="bg-white shadow-lg">
			<div class="max-w-6xl mx-auto px-4">
				<div class="flex justify-between">
					<div class="flex space-x-7">
						<div>
							<!-- Website Logo -->
							<a href="#" class="flex items-center py-4 px-2">
									<img src="https://res.cloudinary.com/liono/image/upload/c_scale,h_100/v1638468636/site%20Liono/liono_jy2bbl.webp"
 alt="Logo" class="">
							</a>
						</div>
						<!-- Primary Navbar items -->
					
					</div>
						<div class="hidden md:flex items-center space-x-1">
							<a href="#service" class="py-4 px-2 text-liono-green font-semibold text-lg hover:text-liono-blue transition duration-300">Nos services</a>
							<a href="#engagement" class="py-4 px-2 text-liono-green font-semibold text-lg hover:text-liono-blue transition duration-300">Nos Engagments</a>
							<a href="#contact" class="py-4 px-2 text-liono-green font-semibold text-lg hover:text-liono-blue transition duration-300">Contact </a>
						</div>
					<!-- Secondary Navbar items -->
					<div class="hidden md:flex items-center space-x-3 ">
						<a href="https://www.facebook.com/Liono-106603081895565" target="_blank" class="py-2 px-2 "><i class="fab fa-facebook text-2xl hover:text-liono-yellow text-liono-blue"></i></a>
						<a href="https://www.instagram.com/liono.be/" target="_blank" class="py-2 px-2"> <i class="fab fa-instagram text-2xl hover:text-liono-yellow text-liono-blue"></i> </a>
					</div>
					<!-- Mobile menu button -->
					<div class="md:hidden flex items-center">
						<button class="outline-none mobile-menu-button">
						<svg class=" w-6 h-6 text-gray-500 hover:text-green-500 "
							x-show="!showMenu"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path d="M4 6h16M4 12h16M4 18h16"></path>
						</svg>
					</button>
					</div>
				</div>
			</div>
			<!-- mobile menu -->
			<div class="hidden mobile-menu">
				<ul class="">
					<li class="active">
									<a href="#service" class="block hover:bg-liono-blue py-4 px-2 text-liono-green font-semibold text-lg hover:text-white ">Nos services</a>

					</li>
					<li><a href="#engagement" class="block hover:bg-liono-blue py-4 px-2 text-liono-green font-semibold text-lg hover:text-white ">Nos Engagments</a>
</li>
					<li><a href="#contact" class="block hover:bg-liono-blue py-4 px-2 text-liono-green font-semibold text-lg hover:text-white">Contact </a></li>
					<li></li>
					<div class="md:hidden flex m-auto items-center space-x-1 ">
						<a href="https://www.facebook.com/Liono-106603081895565" target="_blank" class="py-2 px-2 "><i class="fab fa-facebook text-3xl hover:text-liono-yellow text-liono-blue"></i></a>
						<a href="https://www.instagram.com/liono.be/" target="_blank" class="py-2 px-2"> <i class="fab fa-instagram text-3xl hover:text-liono-yellow text-liono-blue"></i> </a>
					</div>
				</ul>
			</div>
			<script>
				const btn = document.querySelector("button.mobile-menu-button");
				const menu = document.querySelector(".mobile-menu");

				btn.addEventListener("click", () => {
					menu.classList.toggle("hidden");
				});
			</script>
		</nav>